/* --- BLOK 1 --- */
@media (max-width: 576px) { 
.invisibles {
	background-image: none !important;
	}
}

.container2 {
	font-size: 14px;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 2rem;
}

.column4 {
	padding-top: 10rem;
}

.column5 {
	padding-top: 2.5rem;
}

.column6 {
	padding-top: 4.5rem;
}

/* MASONRY BLOK 1 */
.column7 {
	padding-top: 3.5rem;
}

.card {
	border-radius: 0;
	border-style: none;
}




/* --- BLOK 2 --- */
.container3 {
	font-size: 14px;
	padding-left: 5rem;
	padding-right: 5rem;
}

.column8 {
	padding-top: 10rem;
}

.column9 {
	padding-top: 19rem;
}

.column10 {
	padding-top: 3rem;
}

.column11 {
	padding-top: 4rem;
}


/* MASONRY BLOK 2 */
.column12 {
	padding-top: 3rem;
}

.card {
	border-radius: 0;
	border-style: none;
}



/* --- BLOK 3 --- */
.container4 {
	font-size: 14px;
	padding-left: 5rem;
	padding-right: 5rem;
}

.column13 {
	padding-top: 6rem;
}

.column14 {
	padding-top: 19rem;
}

.column15 {
	padding-top: 2.5rem;
}

.column16 {
	padding-top: 4.5rem;
}


/* MASONRY BLOK 3 */
.column17 {
	padding-top: 3.5rem;
}

.card {
	border-radius: 0;
	border-style: none;
}

