/* Hover menu */
.index-menu:hover {
    border-bottom: 2px solid grey;
    transition: border 0.3s;
}

.index-menu {
    border-bottom: 0px solid white;
    transition: border 0.3s;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.index-menu.current {
    border-bottom: 2px solid grey;
    transition: border 0.3s;
}

.charmaine-menu:hover {
    border-bottom: 2px solid #F1C3C1;
    transition: border 0.3s;
}

.charmaine-menu {
    border-bottom: 0px solid white;
    transition: border 0.3s;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.charmaine-menu.current {
    border-bottom: 2px solid #F1C3C1;
    transition: border 0.3s;
}

.jerney-menu:hover {
    border-bottom: 2px solid #F8F7C9;
    transition: border 0.3s;
}

.jerney-menu {
    border-bottom: 0px solid white;
    transition: border 0.3s;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.jerney-menu.current {
    border-bottom: 2px solid #F8F7C9;
    transition: border 0.3s;
}

.ryan-menu:hover {
    border-bottom: 2px solid #DCEFF1;
    transition: border 0.3s;
}

.ryan-menu {
    border-bottom: 0px solid white;
    transition: border 0.3s;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.ryan-menu.current {
    border-bottom: 2px solid #DCEFF1;
    transition: border 0.3s;
}

.michelle-menu:hover {
    border-bottom: 2px solid #D3E6C7;
    transition: border 0.3s;
}

.michelle-menu {
    border-bottom: 0px solid white;
    transition: border 0.3s;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.michelle-menu.current {
    border-bottom: 2px solid #D3E6C7; 
}

.logo-anim:hover {
    animation: bounce linear 1s 0.1s;
}

.navbar {
    background: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.navbar-brand {
    margin-left: 3vw;
}

.navbar-nav {
    margin-right: 3vw;
}

.container1 {
    margin-top: 3vw;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

body {
    overflow-x: hidden;
}

.up {
    background: gray;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    float: right;
}

.upcontainer {
    height: 50px;
    z-index: -1;
    margin-top: -50px;
}

.svg-to-top:hover {
    animation: bounce linear 1s 0.1s;
}

/* HOME INTRO NAME HOVER */

.charname {
    background-color: rgba(241, 195, 193, 0);
    padding: 5px;
    width: 40%;
}

.charname:hover {
    background-color: rgba(241, 195, 193, 1);
    transition: ease 0.5s;
}

.jername {
    background-color: rgba(248, 247, 201, 0);
    padding: 5px;
    width: 40%;
}

.jername:hover {
    background-color: rgba(248, 247, 201, 1);
    transition: ease 0.5s;
}

.ryaname {
    background-color: rgba(220, 239, 241, 0);
    padding: 5px;
    width: 40%;
}

.ryaname:hover {
    background-color: rgba(220, 239, 241, 1);
    transition: ease 0.5s;
}

.michname {
    background-color: rgba(211, 230, 199, 0);
    padding: 5px;
    width: 40%;
}

.michname:hover {
    background-color: rgba(211, 230, 199, 1);
    transition: ease 0.5s;
}

.name:hover {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#hex1:hover {
    transform: scale(1.1);
    transform-origin: bottom right;
    transition: ease 0.5s;
}

#hex1 {
    transition: ease 0.5s;
}

#hex2:hover {
    transform: scale(1.1);
    transform-origin: bottom left;
    transition: ease 0.5s;
}

#hex2 {
    transition: ease 0.5s;
}

#hex3:hover {
    transform: scale(1.1);
    transform-origin: top right;
    transition: ease 0.5s;
}

#hex3 {
    transition: ease 0.5s;
}

#hex4:hover {
    transform: scale(1.1);
    transform-origin: top left;
    transition: ease 0.5s;
}

#hex4 {
    transition: ease 0.5s;
}

.scrollsvg {
    animation: bounce infinite 1s reverse;
    margin-left: 1.4vw;
    margin-bottom: 0.5vw;
}

.scroll-down {
    margin-top: 8vw;
}

/* INTRO ANIMATIONS */

.container1-home > .row > .column1, .container1-home > .row > .column2 {
    animation: insert linear 1s 0s !important; 
}

@keyframes insert {
    0% { transform: translateY(20px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes lefts {
    0% { transform: translateX(-20px); opacity: 0; }
    50% { transform: translateX(-10px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.intro-animation > .row > .column1 > img {
    opacity: 1;
    animation: lefts linear 0.4s 0s;
}

.intro-animation > .row > .column1 > h4 {
    opacity: 1;
    animation: lefts linear 0.6s 0s;
}

.intro-animation > .row > .column2 > h4 {
    opacity: 1;
    animation: insert linear 0.7s 0s; 
}

.intro-animation > .row > .column2 > p {
    opacity: 1;
    animation: insert linear 0.8s 0s; 
}

.intro-animation > .row > .column2 {
    opacity: 1;
    animation: insert linear 2s 0s !important; 
}

/* BUTTONS */

.btn {
    background: none;
    pointer-events: none;
    overflow: auto;
}

.btn-background {
    overflow: auto;
    width: 160px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    top: -27px;
    left: 50.5%;
    z-index: -1;
    transform: translateX(-50%);
    /* cursor: pointer; */
}

.btn-charmaine {
    background-color: rgba(241, 195, 193, 1);
}

.btn-jerney {
    background-color: rgba(248, 247, 201, 1);
}

.btn-ryan {
    background-color: rgba(220, 239, 241, 1);
}

.btn-michelle {
    background-color: rgba(211, 230, 199, 1);
}

.btn {
    margin-top: 30px;
}