/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }



/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




/* navigatiebar  */

.container-fluid {
	background-color: #FFFFFF;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}


.hidden {
	display: none;
}



/* --- CONTAINERS --- */

/*navigation*/
.container0 {
	background-color: orange;
	position: static;
}

/* photo and introduction */
.container1 {
	background-color: #D0CCD0;
	margin-bottom: 50px;
	width: 100%;
}

/* blok 1 */
.con2 {
	background-color: #EA9E8D;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* blok 2 
.con4 {
	background-color: #DAEFB3;
	margin-top: 50px;
	margin-bottom: 50px;
} */

/* blok 3 */


/* columns */

#name, #intro {
	background-color: #E5E5E5;
	margin: 1rem;
	padding: 1rem;
	height: 400px;
	text-align: left;
}

.col2 {
	background-color: #E5E5E5;
	margin: 1rem;
	padding: 1rem;
	height: 50px;
	text-align: left;
}

.col3 {
	background-color: #E5E5E5;
	margin: 1rem;
	padding: 1rem;
	height: 60px;
	text-align: right;
}

.col4 {
	background-color: #E5E5E5;
	margin: 1rem;
	padding: 1rem;
	height: 400px;
	text-align: left;
}

.col5 {
	background-color: #E5E5E5;
	margin: 1rem;
	padding: 1rem;
	height: 220px;
}

.col6 {
	background-color: #E5E5E5;
	margin: 1rem;
	padding: 1rem;
	height: 70px;
	text-align: center;
}


