/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }



/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h3, h4, h6 {
	font-family: 'Space Mono', monospace;
	font-style: bold;
}


/* navigatiebar  */

.container-fluid {
	background-color: #FFFFFF;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}


.hidden {
	display: none;
}




/* --- CONTAINERS --- */

.container1 {
	background-color: #F6F6F6;
	padding: 5rem;
}


.container2, .container3, .container4 {
	background-color: #FFFFFF;
	padding: 5rem;
}

.column7 {
	background-color: #FFFFFF;
	padding: 0.2rem;
}

.card {
	border-radius: 0;
	border-style: none;
}

hr {
	margin: 0;
}

/* buttons */

.btn {
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* footer */
.container5 {
	background-color: #F6F6F6;
	font-size: 13px;
	text-align: left;
	padding: 5rem;
}





