/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }



/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




/* navigatiebar  */

.container-fluid {
	background-color: #FFFFFF;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}


.hidden {
	display: none;
}




/* --- CONTAINERS --- */


.container1 {
	background-color: bisque;
	margin: 1rem;
}

.col1 {
	background-color: #F6F6F6;
	padding: 0;
	height: 350px;
	border: solid 2px #F6F6F6;
}

.col2 {
	background-color: lightblue;
	padding: 0;
	height: 350px;
	border: solid 2px #F6F6F6;
	
}

.col3 {
	background-color: pink;
	padding: 0;
	height: 350px;
	border: solid 2px #F6F6F6;
	
}

.col4 {
	background-color: violet;
	padding: 0;
	height: 350px;
	border: solid 2px #F6F6F6;
	
}

.col1 img {
	width: 100%;
}

.col2 img {
	width: 100%;
}


.col3 img {
	width: 100%;
}


.col4 img {
	width: 100%;
}




