/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }



/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




/* navigatiebar  */

.container-fluid {
	background-color: #FFFFFF;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}


.hidden {
	display: none;
}



/* introductie + afbeeldingen */

.container1 {
	background-color: #F6F6F6;
	font-family: 'Montserrat', sans-serif;
}

.column1 {
	text-align: left;
	margin-top: 6rem;
	margin-bottom: 6rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

h3, h4, h6 {
	font-family: 'Space Mono', monospace;
	font-style: bold;
}

.column2 {
	text-align: left;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;

}



/* persoonlijke ontwikkeling en hexagons */

.container2 {
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}

.column3 {
	text-align: left;
	margin-top: 6rem;
	margin-bottom: 6rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.column4 {
	text-align: left;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-left: 5rem;
}


/* masonry afbeeldingen */

.container3 {
	background-color: #F6F6F6;
	font-family: 'Montserrat', sans-serif;
	height: 400px;
}

.row data-masonry='{"percentPosition": true }'


/* footer */
.container4 {
	background-color: #F6F6F6;
	font-size: 14px;
	font
	height: 400px;
	text-align: left;
}

p {
	font-family: 'Montserrat', sans-serif;
}









