/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }


/* navigatie bar (ook container 1) */

.container-fluid {
	background-color: pink;

}


.hidden {
	display: none;
}







.container1 {
	background-color: #F6F6F6;
	margin: 0;
}

.col {
	text-align: left;
	margin-top: 6rem;
	margin-bottom: 6rem;
	padding-left: 1.5rem;
}

.container2 {
	background-color: #FFFFFF;
}












